$primary-color: #2479fe;
$secondary-color: #eeeeee;
$text-color: #202020;
$background-color: #ffffff;
$overlay-color: rgba(0, 0, 0, 0.5);

// Responsive Breakpoints
$breakpoint-md: 700px;
$breakpoint-sm: 400px;

.auth-body {
  background-image: url('/assets/auth/auth_bg.png');
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: $breakpoint-md) {
    background-image: unset;
  }

  .wrap {
    min-height: 100vh;
    width: 100%;
    background-color: $overlay-color;
    padding: 70px 50px;

    @media screen and (max-width: $breakpoint-md) {
      padding: 0;
      background-color: unset;
    }

    .form-card {
      border-radius: 30px;
      border: 5px solid $background-color;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      position: relative;

      @media screen and (max-width: $breakpoint-md) {
        border-radius: 0;
      }

      .img-block {
        width: 50%;
        background-color: transparent;
        border-radius: 20px 40px 40px 20px;
        box-shadow: 40px 0px 0px $background-color;
        padding: 35px;
        position: relative;

        @media screen and (max-width: $breakpoint-md) {
          display: none;
        }

        .img-block-wrap {
          position: absolute;
          bottom: 0;

          h2 {
            text-align: start;
            font-size: 48px;
            font-family: "Old Standard TT", serif;
            line-height: 40px;
            color: $background-color;
            word-spacing: -8px;
          }

          p {
            color: $background-color;
            border: 2px solid $background-color;
            display: inline-block;
            padding: 3px 23px;
            border-radius: 26px;
            font-weight: 500;
            margin-bottom: 30px;
          }
        }
      }

      .card-block {
        width: 50%;
        background-color: $background-color;
        border-radius: 0 20px 20px 0;
        padding: 35px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-md) {
          width: 100%;
        }

        @media screen and (max-width: $breakpoint-sm) {
          padding: 30px 15px;
        }

        .logo {
          text-align: center;
          padding-bottom: 70px;

          @media screen and (max-width: $breakpoint-md) {
            text-align: start;
          }

          img {
            height: 40px;
          }
        }

        .auth-form {
          max-width: 460px;
          margin: 0 auto;
          flex-grow: 1;
          padding: 0 10px;

          h2 {
            text-align: center;
            font-size: 45px;
            font-family: "Old Standard TT", serif;
            line-height: 45px;

            @media screen and (max-width: $breakpoint-sm) {
              font-size: 35px;
            }
          }

          p.tag-line {
            text-align: center;
            font-weight: 500;
            color: $text-color;
            margin-bottom: 30px;
            font-size: 13px;
          }

          .auth-form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
              font-weight: 500;
              margin-bottom: 5px;
              font-size: 14px;
              color: $text-color;
            }

            input.auth-input {
              width: 100%;
              height: 40px;
              border-radius: 5px;
              padding: 0 50px 0 15px;
              background-color: $secondary-color;
              outline: none;
              border: 1px solid $secondary-color;
              color: $text-color;
              font-size: 14px;
              transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

              &:focus {
                border-color: $primary-color;
                box-shadow: $primary-color 0px 0px 0px 2px;
                background-color: transparent;
              }

              &::placeholder {
                color: lighten($text-color, 30%);
                font-size: 14px;
              }
            }

            .password {
              position: relative;

              span {
                position: absolute;
                top: 7px;
                right: 15px;
                cursor: pointer;
              }
            }
          }

          .forgot-password-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            a {
              font-size: 14px;
              color: $text-color;
            }

            label {
              font-size: 14px;
              color: $text-color;
            }
          }

          .auth-btn {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background-color: $primary-color;
            color: $background-color;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            border: 2px solid $primary-color;
          }

          .auth-social-btn {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            background-color: transparent;
            color: $text-color;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            border: 2px solid $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
              height: 20px;
            }
          }
        }

        .auth-footer-p {
          text-align: center;
          color: $text-color;
          font-size: 14px;
          margin-top: 70px;

          a {
            font-weight: 600;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
              color: darken($text-color, 10%);
            }
          }
        }
      }
    }
  }
}
