<div class="auth-body">
  <div class="wrap">
    <div class="form-card">
      <div class="img-block">
        <div class="img-block-wrap">
          <h2>Make <br> Sure Your Are <br> On Correct URL</h2>
          <p>https:dhicoins.com</p>
        </div>
      </div>
      <div class="card-block">
        <div class="logo">
          <img src="/assets/logo/dhicoins.png" alt="">
        </div>
        <div class="auth-form">
          <h2>Let's Get Started</h2>
          <p class="tag-line">Enter your detail to create your account</p>

          <form action="">
            <div class="auth-form-group">
              <label for="">Username</label>
              <input type="text" class="auth-input" placeholder="Enter Your Username">
            </div>
            <div class="auth-form-group">
              <label for="">Email</label>
              <input type="text" class="auth-input" placeholder="Enter Your Email">
            </div>
            <div class="auth-form-group">
              <label for="">Password</label>
              <div class="password">
                <input [type]="inputType" class="auth-input" placeholder="Enter Your Password">
                <span (click)="togglePassword()"><img [src]="eyeIcon" alt=""></span>
              </div>
            </div>
            <div class="auth-form-group">
              <label for="">Confirm Password</label>
              <div class="password">
                <input [type]="inputType2" class="auth-input" placeholder="Confirm Your Password">
                <span (click)="togglePassword2()"><img [src]="eyeIcon2" alt=""></span>
              </div>
            </div>
            <div class="forgot-password-wrap">
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    I agree to all the <a href=""><b>terms & conditions</b></a>
                  </label>
                </div>
              </div>
            </div>
            <button class="auth-btn mb-3">Sign Up</button>
            <button class="auth-social-btn"><img src="/assets/auth/google.svg" alt="">Continue With Google</button>

            <p class="auth-footer-p">Already have an account?<a href="/register">Sign In</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
