<div class="auth-body">
    <div class="wrap">
      <div class="form-card">
        <div class="img-block">
          <div class="img-block-wrap">
            <h2>Make <br> Sure Your Are <br> On Correct URL</h2>
            <p>https:dhicoins.com</p>
          </div>
        </div>
        <div class="card-block">
          <div class="logo">
            <img src="/assets/logo/dhicoins.png" alt="">
          </div>
          <div class="auth-form forgot-form">
            <h2>Revocer Password</h2>
            <p class="tag-line">Enter email id to receive your password.</p>

            <form action="">
              <div class="auth-form-group">
                <label for="">Email</label>
                <input type="text" class="auth-input" placeholder="Enter Your Email">
              </div>
              <button class="auth-btn mb-3">Recover Password</button>

              <p class="auth-footer-p">Don't have an account? <a href="/register">Sign Up</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
