<div class="breadcrumb">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
  </span>
  <ul>
    <li><a href="">Home</a></li>
    <li><a class="active">Sell</a></li>
  </ul>
</div>

<div class="buy-content-wrap">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="crypto-card shadow-sm" id="card-1">
          <div class="crypto-card-header">
            <h3>Sell Crypto</h3>
            <p>26 December 2024</p>
          </div>
          <div class="crypto-card-body">
            <div class="step">
              <p class="crypto-card-step">Step 1: Enter Amount</p>
              <div class="cuurency-input-group">
                <label class="label-input">Pay</label>
                <div class="purchase-input-wrap purchase-select">
                  <input type="Number" placeholder="Enter Amount">
                  <select name="" id="">
                    <option value="">MVR</option>
                    <option value="">BTC</option>
                    <option value="">ETH</option>
                  </select>
                </div>
              </div>
              <div class="cuurency-input-group">
                <label class="label-input">Receive</label>
                <div class="purchase-input-wrap purchase-select">
                  <input type="number" placeholder="239038.00">
                  <select name="" id="">
                    <option value="">BTC</option>
                    <option value="">MVR</option>
                    <option value="">ETH</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="crypto-card-footer">
              <button class="buy-btn">Go to Payments</button>
            </div>
          </div>
        </div>
        <div class="crypto-card shadow-sm" id="card-1">
          <div class="crypto-card-header">
            <h3>Order Summary</h3>
            <p>26 December 2024</p>
          </div>
          <div class="crypto-card-body">
            <div class="order-summary">
              <div class="order-summary-item">
                <p>You Sell</p>
                <span>239038.00</span>
              </div>
              <div class="order-summary-item">
                <p>You Receive</p>
                <span>Binance Smart Chain (BEP20)</span>
              </div>
              <div class="order-summary-item w-50">
                <p>Funds Will Be Sent To</p>
                <span>
                  <span>David - </span>
                  <span>038490j834z38</span>
                  <button class="paste-btn-sm shadow-sm ms-2" title="Copy"><svg
                      xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-copy">
                      <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                      <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                    </svg></button> </span>
              </div>
            </div>
            <h3 class="card-sub-heading">
              Payment Detail
            </h3>
            <div class="step">
              <p class="crypto-card-step">Step 2: Select the network</p>
              <div class="form-check purchase-input-radio">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Bitcoin (BTC)
                </label>
              </div>
            </div>
            <div class="step">
              <p class="crypto-card-step">Step 3: Depsosit Amount</p>
              <div class="disclaimer">
                <p>Deposit the exact Amount to the Dhicoins Deposite Address</p>
              </div>
              <div class="order-summary">
                <div class="order-summary-item w-100">
                  <p>Deposit Amount</p>
                  <span>
                    <span>0.001234 BNB</span>
                    <button class="paste-btn-sm shadow-sm ms-2" title="Copy"><svg
                        xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-copy">
                        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                      </svg></button> </span>
                </div>
              </div>
              <div class="qr-section">
                <div class="qr-wrap">
                  <img src="/assets/sell/qr.png" alt="">
                  <span>Scan Me</span>
                </div>
              </div>
              <div class="deposit-code-copier">
                <div>
                  <p>1Jv3dZMCzt3ejgNrBx51UVNTJYvxTLGzfj</p>
                </div>
                <div>
                  <button class="copy-btn">
                    <svg
                        xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-copy">
                        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                      </svg>
                      Copy
                  </button>
                </div>
              </div>
              <div class="disclaimer">
                <p><b>Remark Bar</b> is an optional feature that can enhance user experience and engagement on the Dhicoins platform.</p>
              </div>
              <div class="my-2">
                <input class="form-control" placeholder="Enter Your Message (Optional)">
              </div>

            </div>

            <div class="step">
              <p class="crypto-card-step">Step 5: Complete The Payment</p>
              <button  class="payment-btn mt-2">Payment Completed</button>
              <div class="divider"></div>
              <div class="disclaimer">
                <p class="note">Orders placed after 12 am processed next day before 8:00 am</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
