<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-title">
          <div class="dashboard-title-wrap">
            <a class="profile-icon">
              <img src="/assets/dashboard/profile.png" alt="">
              <span class="verified">
                <img src="/assets/dashboard/verified.svg" alt="">
              </span>
            </a>
            <span>
              <h6>Hey Rana !</h6>
              <p class="verified">verified</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="dashboard-cards">
      <div class="row justify-content-around">
        <div class="col-lg-4">
          <div class="orders-card shadow-sm">
            <div class="orders-card-wrap">
              <div>
                <div class="orders-card-icon">
                  <img src="/assets/dashboard/buy_orders.svg" alt="">
                </div>
              </div>
              <div class="orders-card-content">
                <div>
                  <h5>Buy Orders</h5>
                  <p><strong>No Of Orders : </strong> 19</p>
                </div>
                <div class="text-end">
                  <span>MVR</span>
                  <p>276900.0</p>
                  <p><strong>Pending : 0</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="orders-card shadow-sm">
            <div class="orders-card-wrap">
              <div>
                <div class="orders-card-icon">
                  <img src="/assets/dashboard/buy_orders.svg" alt="">
                </div>
              </div>
              <div class="orders-card-content">
                <div>
                  <h5>Sell Orders</h5>
                  <p><strong>No Of Orders : </strong> 17</p>
                </div>
                <div class="text-end">
                  <span>MVR</span>
                  <p>33717.0</p>
                  <p><strong>Pending : 0</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-currency-cards></app-currency-cards>
</div>
