// profile card desktop

.profile-card {
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 0 20px 0;
  background-color: #fff;

  @media screen and (max-width: 700px) {
    display: none;
  }

  .profile-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;

    h3 {
      color: #202020;
      margin: 0;
      font-weight: 600;
    }
  }

  .section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;

    .wrap {
      width: 50%;

      h6 {
        font-size: 18px;
        font-weight: 600;
        margin: 5px 0;
      }

      p {
        color: #767676;
        font-size: 13px;
        margin: 0;
      }

      .last-wrap {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: end;

        .profile-block {
          display: flex;
          align-items: center;
          gap: 10px;

          .avatar {
            height: 40px;
            width: 40px;
            border-radius: 10px;

            img {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }

          h6 {
            font-size: 16px;
            font-weight: 600;
            margin: 5px 0;
          }

          .verfied {
            height: 20px;
            width: 20px;
          }

          .bank-verified {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}

.timeline {
  .timeline-wrap {
    position: relative;
    padding-left: 30px;

    &::before {
      content: "";
      content: "";
      height: 12px;
      width: 12px;
      background-color: var(--primarybg);
      box-shadow: rgba(36, 120, 254, 0.2) 0px 0px 0px 3px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 8px;
    }

    &::after {
      content: "";
      height: calc(100% + 8px);
      width: 1px;
      background-color: var(--primarybg);
      position: absolute;
      left: 8px;
      top: 20px;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  .timeline-wrap.verified {
    &::before {
      background-color: var(--verify-btn-color);
      box-shadow: rgba(5, 219, 137, 0.2) 0px 0px 0px 3px;
    }

    &::after {
      background-color: var(--verify-btn-color);
    }
  }

  .timeline-wrap.pending {
    &::before {
      background-color: var(--pending-btn-color);
      box-shadow: rgba(220, 53, 69, 0.2) 0px 0px 0px 3px;
    }

    &::after {
      background-color: var(--pending-btn-color);
    }
  }
}

// profile card mobile


.mobile-wrap {
  padding: 0 0px;

  @media screen and (min-width: 700px) {
    display: none;
  }

  .mobile-title-heading {
    color: #202020;
    margin: 0;
    font-weight: 600;
    padding: 0;
    margin-bottom: 10px;
    padding: 0 20px;
  }
}

.mobile-profile-card {
  padding: 10px 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 60px;
  color: unset;
  text-decoration: none;
  border-bottom: 1px solid #dedede;

  .profile-card-header {
    height: 100%;
    width: 100%;
    background-color: var(--btn-sm-bg-light);
    color: var(--btn-sm-color-light);
    padding: 10px;
    border-radius: 50px;
  }

  .wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    h4 {
      margin: 0;
      font-size: 20px;
    }
  }



}


.mobile-bank-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;


  .last-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #dedede;

    &:last-child {
      border: 0;
    }

    .profile-block {
      display: flex;
      align-items: center;
      gap: 10px;

      h6 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;

        img {
          height: 30px;
          width: 30px;
        }
      }

      span {
        color: #767676;
        font-size: 12px;
        margin: 0;
      }
    }

  }

  .mobile-section-wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 60px;

    h6 {
      margin-top: 8px;
      font-size: 15px;
    }
  }

  .mobile-section-wrap.timeline-wrap {
    &::after {
      height: calc(100% + 0px);
    }

    button {
      height: 25px;
      width: 90px;
      font-size: 12px;
    }

  }

}

.edit-btn {
  background-color: var(--btn-sm-bg-light);
  color: var(--btn-sm-color-light);
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.edit-btn-sm.edit-btn {
  height: 30px;
  width: 30px;
  font-size: 12px;
  gap: 4px;
}

.verify-btn {
  background-color: var(--verify-btn-bg);
  color: var(--verify-btn-color);
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.verify-btn-sm.verify-btn {
  height: 30px;
  width: 30px;
  font-size: 12px;
  gap: 4px;
}

.pending-btn {
  background-color: var(--pending-btn-bg);
  color: var(--pending-btn-color);
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.pending-btn-sm.pending-btn {
  height: 30px;
  width: 30px;
  font-size: 12px;
  gap: 4px;
}

.personal-form {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}

.persoanl-form-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;

  padding-top: 10px;

  .save-btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-transform: uppercase;
  }

}
