<div class="auth-body">
  <div class="wrap">
    <div class="form-card">
      <div class="img-block">
        <div class="img-block-wrap">
          <h2>Make <br> Sure Your Are <br> On Correct URL</h2>
          <p>https:dhicoins.com</p>
        </div>
      </div>
      <div class="card-block">
        <div class="logo">
          <img src="/assets/logo/dhicoins.png" alt="">
        </div>
        <div class="auth-form email-verification-form">
          <h2>Reset Password</h2>

          <form action="">
            <div class="reset-password-group">
              <h3 class="text-center">Forgot Password <br> Confirmation
              </h3>
              <p class="tag-line">Please check your email to reset your password.</p>
            </div>
            <p class="auth-footer-p">Don't have an account? <a href="/register">Sign Up</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
