<div class="container-fluid">

  <div class="row">
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/btc.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 BTC</span>
          <h4>Bitcoin</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/eth.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 ETH</span>
          <h4>Etherium</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/bnb.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 BNB</span>
          <h4>BNB</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/usdt.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 USDT</span>
          <h4>USDT</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/tron.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 Tron</span>
          <h4>Tron</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/tridifio.webp" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 Toncoin</span>
          <h4>Toncoin</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/crefefi.webp" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 credefi</span>
          <h4>Credefi</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/solana.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 Solana</span>
          <h4>Solana</h4>
        </div>
      </div>
    </div>
    <div class=" col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/usdc.webp" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 USDC</span>
          <h4>USDC</h4>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/realio.webp" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 Realio</span>
          <h4>Realio</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/xrp.webp" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 XRP</span>
          <h4>XRP</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
      <div class="currency-card shadow-sm">
        <div class="img-block">
          <img src="/assets/coin_imgs/doge.svg" alt="">
        </div>
        <p>0.311285</p>
        <div class="card-block">
          <span>Price of 1 DOGE</span>
          <h4>DOGE</h4>
        </div>
      </div>
    </div>
  </div>

</div>
