<div class="breadcrumb">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
  </span>
  <ul>
    <li><a href="">Home</a></li>
    <li><a class="active">FAQs</a></li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 p-0">
      <div class="faqs">
        <div class="accordion accordion-flush dhicoin-accordion" id="accordionFlushExample">
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                What is Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                When you begin researching the macroeconomics of the global economy and understand how fiat currency and the
                banking system work, you will gain a deeper understanding of Bitcoin, its origins, and why it is a
                revolutionary technology.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How does Bitcoin work?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin operates on a decentralized blockchain network that records transactions across numerous computers,
                ensuring security and transparency without the need for intermediaries.
              </div>
            </div>
          </div>

          <div class="accordion-item shadow-sm">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the benefits of Bitcoin?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Bitcoin offers benefits such as decentralization, transparency, low transaction fees, and resistance to
                censorship. It also acts as a hedge against inflation.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 p-0">
        <div class="faq-card">
          <div class="faq-card-wrap shadow-sm">
            <div>
              <div class="img">
                <img src="/assets/dashboard/buy_orders.svg" alt="">
              </div>
            </div>
            <div>
              <h6>Live Chat Support 24/7</h6>
              <p>Chat with out customer service agent to get your queries resolved</p>
            </div>
          </div>

          <div class="faq-card-wrap shadow-sm">
            <div>
              <div class="img">
                <img src="/assets/dashboard/buy_orders.svg" alt="">
              </div>
            </div>
            <div>
              <h6>Report an issue</h6>
              <p>Send us a complaint or feedback and we will get to it.

              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
