   <!-- header & banner starts -->
   <div class="banner">
    <!-- header-starts  -->
    <div class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <div>
                    <img src="/media/images/dhicoins-logo.png" alt="">
                </div>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav dhicoin-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Why & How</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>
                <button class="secondary-button hidden-btn">Buy Token</button>
            </div>
        </nav>
    </div>
    <!-- header-ends  -->

    <!-- banner-starts-here  -->

    <div class="banner-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-sm-12 order-md-1 order-sm-2 order-2">
                    <div class="px-2">
                        <div class="banner-content animate__animated animate__fadeInUp">
                            <h1>Buy and Sell Cryptocurrency in Maldives</h1>
                            <p>Accusantium asperiores consectetur exercitationem fugiat harum provident quisquam
                                reiciendis repudiandae.</p>
                            <button
                                class="secondary-button banner-content animate__delay-1s animate__animated animate__fadeInUp">Get
                                Notified</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 order-md-2 order-sm-1 order-1">
                    <!-- calculator starts  -->
                    <div class="calculator-area">
                        <div class="calculator">
                            <div class="calculator-wrap">
                                <div class="cal-tab-wrap mb-3">
                                    <ul class="nav nav-pills Dhicoin-Calculator" id="Dhicoin-Calculator" role="tablist">
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link active" id="Buy" data-bs-toggle="pill" data-bs-target="#pills-Buy" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Buy</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="Sell" data-bs-toggle="pill" data-bs-target="#pills-Sell" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Sell</button>
                                        </li>
                                      </ul>
                                </div>
                                  <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-Buy" role="tabpanel" aria-labelledby="Buy" tabindex="0">
                                        <div>
                                            <div class="cal-ui-wrap ">
                                                <div class="calculator-label">
                                                    <label for="">You Pay</label>
                                                </div>
                                                <div class="cal-input-wrap">
                                                    <input type="number"class="cal-input" value="8238">
                                                    <select name="" id="" class="cal-select">
                                                        <option value="">BTC</option>
                                                        <option value="">BtttttttttTC</option>
                                                        <option value="">BTC</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="cal-swap-wrap">
                                                <div class="cal-swap">
                                                    <div class="cal-swap-inner">
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cal-ui-wrap mb-3">
                                                <div class="calculator-label">
                                                    <label for="">You Receive</label>
                                                </div>
                                                <div class="cal-input-wrap">
                                                    <input type="number"class="cal-input" value="54434.2323">
                                                    <select name="" id="" class="cal-select">
                                                        <option value="">Dollar</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="cal-message mb-3 text-center">
                                                <label for="">What you see is What you get</label>
                                            </div>
                                            <div>
                                                <button class="btn calculator-button">Buy Now</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-Sell" role="tabpanel" aria-labelledby="Sell" tabindex="0">
                                        <div>
                                            <div class="cal-ui-wrap ">
                                                <div class="calculator-label">
                                                    <label for="">You Pay</label>
                                                </div>
                                                <div class="cal-input-wrap">
                                                    <input type="number"class="cal-input" value="8238">
                                                    <select name="" id="" class="cal-select">
                                                        <option value="">BTC</option>
                                                        <option value="">BtttttttttTC</option>
                                                        <option value="">BTC</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="cal-swap-wrap">
                                                <div class="cal-swap">
                                                    <div class="cal-swap-inner">
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cal-ui-wrap mb-3">
                                                <div class="calculator-label">
                                                    <label for="">You Receive</label>
                                                </div>
                                                <div class="cal-input-wrap">
                                                    <input type="number"class="cal-input" value="54434.2323">
                                                    <select name="" id="" class="cal-select">
                                                        <option value="">Dollar</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="cal-message mb-3 text-center">
                                                <label for="">What you see is What you get</label>
                                            </div>
                                            <div>
                                                <button class="btn calculator-button">Sell Now</button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!-- calculator Ends  -->
                </div>
            </div>
        </div>
    </div>

    <!-- banner-ends-here  -->
</div>
<!-- header & banner ends -->

<!-- about-section-starts  -->
<div class="about-section">
    <div class="container">
        <div class="text-center mb-5 ">
            <h1 class="animate__animated animate__fadeInUp">Use Blockchain</h1>
            <p class="animate__animated animate__fadeInUp">to find the ones who get it right. We trust our future
                with experts everyday</p>
            <button class="primary-button animate__animated animate__fadeInUp">Read Whitepaper</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-card animate__animated animate__fadeIn animate__delay-1s">
                    <img src="/media/images/icon1.svg" alt="">
                    <h3 style="color: #856ee4;">Reputation, Decentralized</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolore sunt libero quos
                        ex, repellat nam aut, non sapiente iure dolorem beatae nostrum nemo exercitationem? Sunt
                        dicta aliquid natus officia.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-card animate__animated animate__fadeIn animate__delay-1s">
                    <img src="/media/images/icon2.svg" alt="">
                    <h3 style="color: #4bc3c3;">Start Using Real Expertise</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolore sunt libero quos
                        ex, repellat nam aut, non sapiente iure dolorem beatae nostrum nemo exercitationem? Sunt
                        dicta aliquid natus officia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-section-ends  -->

<!-- tools section-starts  -->
<div class="tools">
    <div class="container">
        <div class="row align-items-center">
            <div class=" col-lg-6 col-md-8 hidden-sm animate__animated animate__fadeInUp">
                <div class="my-2 ">
                    <img src="/media/images/art1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 animate__animated animate__fadeInUp">
                <div class="my-2">
                    <h1 class="mb-3" style="color: #007bff;">
                        We trust our futures with experts everyday.
                    </h1>
                    <p class="default-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nostrum dolorem deserunt
                        tempore rerum optio itaque, porro voluptatibus eligendi, eaque officiis. In eius laborum autem
                        reprehenderit qui impedit, vel voluptatum?
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12  animate__animated animate__fadeInUp">
                <h1 class="mb-3" style="color: #05db89;">
                    Are you an Forex Trading Expert?
                </h1>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4>Give your Audience a Reason to Trust You</h4>
                        <p class="default-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, nihil
                            quaerat. Tempore, provident repellendus ullam reiciendis, tempora adipisci similique ab
                            non minus perferendis nihil tenetur enim ratione doloremque. Eos, officia?</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 animate__animated animate__fadeInUp">
                        <h4>Focus on Analysis Instead of Marketing</h4>
                        <p class="default-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, nihil
                            quaerat. Tempore, provident repellendus ullam reiciendis, tempora adipisci similique ab
                            non minus perferendis nihil tenetur enim ratione doloremque. Eos, officia?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm">
                <div class="text-end">
                    <img src="/media/images/art2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tools section-ends  -->

<!-- block-chain-starts  -->
<div class="blockchain">
    <div class="container">
        <div class="text-center mb-5 animate__animated animate__fadeIn">
            <h1>Why Blockchain</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="blockchain-card animate__animated animate__fadeInUp">
                    <i class="fas fa-users"></i>
                    <h4>Public</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi deserunt
                        dignissimos dolorum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="blockchain-card animate__animated animate__fadeInUp">
                    <i class="fas fa-clock"></i>
                    <h4>Trustless</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi deserunt
                        dignissimos dolorum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="blockchain-card animate__animated animate__fadeInUp">
                    <i class="fas fa-dumbbell"></i>
                    <h4>Permanent</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi deserunt
                        dignissimos dolorum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="blockchain-card animate__animated animate__fadeInUp">
                    <i class="fas fa-street-view"></i>
                    <h4>Decentralized</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus animi deserunt
                        dignissimos dolorum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block-chain-ends  -->

<!-- detail section starts  -->
<div class="dhicoin-detail">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h1>Why you will choose Kryptix as your trading platform?</h1>
                <p class="default-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptatibus
                    debitis, ratione nulla repellendus earum dolorem fugit ipsum mollitia neque, praesentium
                    aspernatur officiis reiciendis consequuntur magnam necessitatibus culpa pariatur est?</p>
            </div>
            <div class="col-md-5">
                <!-- <img src="/media/images/art3.png" alt=""> -->
            </div>
        </div>
    </div>
</div>
<!-- detail section Ends  -->

<!-- blockchian-tab starts -->
<div class="blockchain-tabs">
    <div class="container-fluid">
        <div class="text-center mb-5">
            <h1>How Blockchain Works</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class=" mb-3 dhicoin-tab-wrap" id="pills-tab" role="tablist">
                    <div class="didhicoin-tab-sec">
                        <div class="tab-wrap"><button class="nav-link  dhicoin-tab active " id="pills-1" data-bs-toggle="pill"
                                data-bs-target="#pills-sec-1" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true"><i class="fas fa-network-wired"></i></button></div>
                        <div class="tab-wrap"><button class="nav-link dhicoin-tab" id="pills-2" data-bs-toggle="pill"
                                data-bs-target="#pills-sec-2" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false"><i class="fas fa-broadcast-tower"></i></button></div>
                        <div class="tab-wrap"><button class="nav-link dhicoin-tab" id="pills-3" data-bs-toggle="pill"
                                data-bs-target="#pills-sec-3" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false"><i class="fas fa-database"></i></button></div>
                    </div>
                    <div class="didhicoin-tab-sec">
                        <div class="tab-wrap"><button class="nav-link dhicoin-tab" id="pills-5" data-bs-toggle="pill"
                            data-bs-target="#pills-sec-5" type="button" role="tab"
                            aria-controls="pills-disabled" aria-selected="false"><i
                                class="fas fa-hands"></i></button></div>
                        <div class="tab-wrap"><button class="nav-link dhicoin-tab" id="pills-4" data-bs-toggle="pill"
                                data-bs-target="#pills-sec-4" type="button" role="tab"
                                aria-controls="pills-disabled" aria-selected="false"><i
                                    class="fas fa-fingerprint"></i></button></div>

                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="px-4">
                    <div class="tab-content dhicoin-tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-sec-1" role="tabpanel"
                            aria-labelledby="pills-1" tabindex="0">
                            <h2>Request For Transaction</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit esse
                                sapiente, debitis dolore vero quis perferendis quas harum fugiat tenetur possimus
                                numquam in, praesentium, rem itaque nobis. Ipsa, nihil?</p>
                        </div>
                        <div class="tab-pane fade" id="pills-sec-2" role="tabpanel" aria-labelledby="pills-2"
                            tabindex="0">
                            <h2>The Request is broadcast to all nides in network</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit esse
                                sapiente, debitis dolore vero quis perferendis quas harum fugiat tenetur possimus
                                numquam in, praesentium, rem itaque nobis. Ipsa, nihil?</p>
                        </div>
                        <div class="tab-pane fade" id="pills-sec-3" role="tabpanel" aria-labelledby="pills-3"
                            tabindex="0">
                            <h2>All Nodes Jointly validates the transaction</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit esse
                                sapiente, debitis dolore vero quis perferendis quas harum fugiat tenetur possimus
                                numquam in, praesentium, rem itaque nobis. Ipsa, nihil?</p>
                        </div>
                        <div class="tab-pane fade" id="pills-sec-4" role="tabpanel" aria-labelledby="pills-4"
                            tabindex="0">
                            <h2>Transaction Completed</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit esse
                                sapiente, debitis dolore vero quis perferendis quas harum fugiat tenetur possimus
                                numquam in, praesentium, rem itaque nobis. Ipsa, nihil?</p>
                        </div>
                        <div class="tab-pane fade" id="pills-sec-5" role="tabpanel" aria-labelledby="pills-5"
                            tabindex="0">
                            <h2>Block is added permanently to existing blockchain</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit esse
                                sapiente, debitis dolore vero quis perferendis quas harum fugiat tenetur possimus
                                numquam in, praesentium, rem itaque nobis. Ipsa, nihil?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blockchian-tab ends -->

<!-- register login page starts  -->
<div class="register-login-section">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-6 p-0">
                <a href="" style="text-decoration: none;">
                    <div class="register-login-section-wrap">
                        <div class="section-wrap">
                            <div>
                                <h2>Register</h2>
                                <p class="m-0">Join the new era of crypto exchange</p>
                            </div>
                            <div>
                                <i class="fas fa-chevron-right section-icon"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 p-0">
                <a href="" style="text-decoration: none;">
                    <div class="register-login-section-wrap">
                        <div class="section-wrap">
                            <div>
                                <h2>Sign In</h2>
                                <p class="m-0">Experience The Crypto You Deserve</p>
                            </div>
                            <div>
                                <i class="fas fa-chevron-right section-icon"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<!-- register login page ends -->

<!-- faq's started  -->
<div class="faqs">
    <div class="container">
        <div class="text-center">
            <h1 class="faq-h1">Frequently Asked Question</h1>
        </div>
        <div class="faqs-collapse-wrap">
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident sunt sapiente vero quibusdam veritatis delectus ea ipsa
                                        consectetur molestiae autem a, possimus, molestias amet consequuntur
                                        corrupti esse voluptatem! Iusto, dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingtwo">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsetwo"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapsetwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingteo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident sunt sapiente vero quibusdam veritatis delectus ea ipsa
                                        consectetur molestiae autem a, possimus, molestias amet consequuntur
                                        corrupti esse voluptatem! Iusto, dolor.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingthree">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsethree"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapsethree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingthree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident sunt sapiente vero quibusdam veritatis delectus ea ipsa
                                        consectetur molestiae autem a, possimus, molestias amet consequuntur
                                        corrupti esse voluptatem! Iusto, dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingfour">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefour"
                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapsefour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident sunt sapiente vero quibusdam veritatis delectus ea ipsa
                                        consectetur molestiae autem a, possimus, molestias amet consequuntur
                                        corrupti esse voluptatem! Iusto, dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingfive">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefive"
                                    aria-expanded="false" aria-controls="flush-collapsefive">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapsefive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident
                                        sunt sapiente vero quibusdam veritatis delectus ea ipsa consectetur
                                        molestiae autem
                                        a, possimus, molestias amet consequuntur corrupti esse voluptatem! Iusto,
                                        dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingsix">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsesix"
                                    aria-expanded="false" aria-controls="flush-collapsesix">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapsesix" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident
                                        sunt sapiente vero quibusdam veritatis delectus ea ipsa consectetur
                                        molestiae autem
                                        a, possimus, molestias amet consequuntur corrupti esse voluptatem! Iusto,
                                        dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingseven">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseseven"
                                    aria-expanded="false" aria-controls="flush-collapseseven">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapseseven" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident
                                        sunt sapiente vero quibusdam veritatis delectus ea ipsa consectetur
                                        molestiae autem
                                        a, possimus, molestias amet consequuntur corrupti esse voluptatem! Iusto,
                                        dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item dhicoin-accordion">
                            <h2 class="accordion-header" id="flush-headingeight">
                                <button class="accordion-button collapsed dhicoin-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseeight"
                                    aria-expanded="false" aria-controls="flush-collapseeight">
                                    What is ICO Trade?
                                </button>
                            </h2>
                            <div id="flush-collapseeight" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p class="default-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Provident
                                        sunt sapiente vero quibusdam veritatis delectus ea ipsa consectetur
                                        molestiae autem
                                        a, possimus, molestias amet consequuntur corrupti esse voluptatem! Iusto,
                                        dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq's ended  -->
<!-- footer starts  -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="px-2">
                        <div class="mb-3"><img src="/media/images/dhicoins-logo.png    " alt=""></div>
                        <div class="mb-3">
                            <p class="footer-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
                                perspiciatis vitae delectus velit cupiditate tempore consectetur aspernatur, quos
                                repudiandae, magni doloremque! Quos, eaque ea cupiditate ratione autem molestias
                                sunt aperiam?</p>
                        </div>
                        <div>
                            <p class="footer-text">&copy; Copyright 2018 VectorLab, Inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="px-2">
                        <div class="mb-3">
                            <h4>RESOURCES</h4>
                        </div>
                        <div class="mb-3">
                            <ul class="footer-ul">
                                <li><a href="">Free Shedules</a></li>
                                <li><a href="">Terms & Privacy</a></li>
                                <li><a href="">Api Refrence</a></li>
                                <li><a href="">Help Desk </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-sm-6">
                    <div class="px-2">
                        <div class="mb-3">
                            <h4>ABOUT & CONTACTS</h4>
                        </div>
                        <div class="mb-3">
                            <ul class="footer-ul">
                                <li><a href="">Our Vision</a></li>
                                <li><a href="">Features</a></li>
                                <li><a href="">About Us </a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="payment-option">
                        <div><img src="/media/images/fc1.png" alt=""></div>
                        <div><img src="/media/images/fc2.png" alt=""></div>
                        <div><img src="/media/images/fc3.png" alt=""></div>
                        <div><img src="/media/images/fc4.png" alt=""></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-icon">
                        <div><a href=""><i class="fab fa-facebook-f"></i></a></div>
                        <div><a href=""><i class="fab fa-twitter"></i></a></div>
                        <div><a href=""><i class="fab fa-bitcoin"></i></a></div>
                        <div><a href=""><i class="fab fa-youtube"></i></a></div>
                        <div><a href=""><i class="fab fa-linkedin"></i></a></div>
                        <div><a href=""><i class="fab fa-google-plus"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer Ends  -->
