<div class="breadcrumb">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
  </span>
  <ul>
    <li><a href="">Home</a></li>
    <li><a class="active">Transactions History</a></li>
  </ul>
</div>


<div class="container-fluid">
  <div class="dashboard-cards">
    <div class="row justify-content-around">
      <div class="col-lg-4">
        <div class="orders-card shadow-sm">
          <a class="orders-card-wrap" data-bs-toggle="offcanvas" href="#BuyCanvus" role="button">
            <div>
              <div class="orders-card-icon">
                <img src="/assets/dashboard/buy_orders.svg" alt="">
              </div>
            </div>
            <div class="orders-card-content">
              <div>
                <h5>Buy Orders</h5>
                <p><strong>No Of Orders : </strong> 19</p>
              </div>
              <div class="text-end">
                <span>MVR</span>
                <p>276900.0</p>
                <p><strong>Pending : 0</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="orders-card shadow-sm">
          <a class="orders-card-wrap" data-bs-toggle="offcanvas" href="#SellCanvus" role="button">
            <div>
              <div class="orders-card-icon">
                <img src="/assets/dashboard/buy_orders.svg" alt="">
              </div>
            </div>
            <div class="orders-card-content">
              <div>
                <h5>Sell Orders</h5>
                <p><strong>No Of Orders : </strong> 17</p>
              </div>
              <div class="text-end">
                <span>MVR</span>
                <p>33717.0</p>
                <p><strong>Pending : 0</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
