:root{

  --body-color:#f0f3f8;

  --primary-color:#2479fe;
  --secondary-color:#f0f3f8;
  --alpha:#05db89;


  --primarybg:#2479fe;
  --primary-light-bg:#fff;
  --secondary-bg:#ffffff;

  // Sidebar color
  --sidebar-a:#657792;
  --sidebar-active:#fff;
  --sidebar-active-bg:#2479fe;
  --sidebar-active-bg-hover:#2479fe24;

  --sidebar-border-color:#2479fe24;


  --a-active: #2479fe;
  --a-hover: #2479fe24;
  --a-hover-color:#2479fe;
  --a-span-badge-color: #dc3545;

  --btn-sm-bg-light:#d1e1fa;
  --btn-sm-color-light:#2479fe;

}
