body {
  background-color: var(--body-color) !important;
  ;
}

.content {
  height: calc(100vh - 100px);
  width: calc(100% - 280px);
  margin-left: 270px;
  margin-top: 70px;
  border-radius: 10px;
  overflow: auto;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-left: 0;
    margin-top: 55px;
    height: calc(100vh - 130px);
    padding-bottom: 20px;
  }

}


/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  padding-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dee9fc;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cddfff;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4cffe;

}

.breadcrumb {
  background-color: var(--card-bg) !important;
  padding: 0 !important;
  margin: 0 !important;
  padding: 15px !important;
  border-radius: 10px !important;

  span {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--primarybg);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
      height: 18px;
      width: 18px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    list-style: none;

    li {
      padding-left: 40px;
      position: relative;

      a {
        color: var(--text-color);
      }

      a.active {
        color: var(--a-active);
      }

      a.active:hover{
        color: var(--text-color);
      }


      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        background-image: url('../public/assets/breadcrumb/chevron-right.svg');
        /* Adjust the path */
        background-size: contain;
        background-repeat: no-repeat;
      }


    }
  }
}


.paste-btn-sm {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: var(--btn-sm-bg-light);
  color: var(--btn-sm-color-light);
  border: 0;
  border-radius: 5px;
}

label.form-label {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 3px 0;
}


input.form-control,
select.form-select {
  height: 40px;
  padding: 0 50px 0 15px;
  background-color: var(--form-secondary-color);
  border: 1px solid var(--form-secondary-color);
  color: var(--form-text-color);
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus {
    border-color: #2479fe;
    box-shadow: #2478fe33 0px 0px 0px 2px;
    background-color: transparent;
  }

  &::placeholder {
    color: var(--form-text-color);
    font-size: 14px;
  }

  &::file-selector-button {
    padding: 5px 15px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #d1e1fa;
    color: #2479fe;
    font-size: 14px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 4px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 10px 0;
}

.disclaimer {
  p.note {
    font-size: 15px;
    color: #ff5e5e;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
  }

  p {
    font-size: 13px;
    color: var(--text-color-secondary);
    font-style: italic;
    margin-bottom: 0;
  }

}


.dhicoin-modal {
  background: var(--backdrop-color) !important;
  backdrop-filter: blur(8px) !important;


  .modal-content {
    border-radius: 20px;
    border: 1px solid var(--modal-border-color) !important;
    background-color: var(--card-bg) !important;
  }

  .modal-content.profile{
    background-color: var(--profile-modal-bg) !important;
  }

  .modal-header {
    border-bottom: none !important;
    padding-bottom: 0;
    color: var(--text-color);

    h1 {
      font-weight: 600;
    }
  }


  .modal-body {
    padding-top: 5px;
  }
}


.offcanvas-backdrop {
  background: var(--backdrop-color) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(8px) !important;
}


.dhicoin-offcanvus {
  width: 350px !important;
  border: 0 !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
  background-color: var(--card-bg) !important;

  .offcanvas-title {
    font-weight: 600;
    color: var(--text-color) !important;
  }

}

.dhicoin-offcanvus-bottom {
  width: 100% !important;
  border: 0 !important;
  border-radius: 15px 15px 0 0 !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
  height: 45% !important;
  background-color: var(--card-bg) !important;


  .offcanvas-header {
    padding-bottom: 0 !important;

    .offcanvas-title {
      font-weight: 600;
      color: var(--text-color) !important;
    }
  }

}


.dhicoin-offcanvus.buy {
  border-radius: 0 15px 15px 0;

}

.dhicoin-offcanvus.sell {
  border-radius: 15px 0 0 15px;

}
