.crypto-card {
  width: 100%;
  border-radius: 10px;
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 40px;
  margin: 30px 0;


  .crypto-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;

    h3 {
      color: var(--text-color);
      margin: 0;
      font-weight: 600;
    }

    p {
      margin: 0;
      display: inline-block;
      background-color: var(--primarybg);
      color: #fff;
      font-size: 12px;
      padding: 4px 10px;
      border-radius: 5px;
    }
  }


  .crypto-card-body {
    margin-top: 20px;

    .step {

      margin-bottom: 10px;

      .crypto-card-step {
        color: var(--primary-color);
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        display: inline-block;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          width: 40px;
          height: 2px;
          top: 10px;
          background-color: var(--primary-color);
          right: -45px;
          border-radius: 13px;
        }
      }

      .cuurency-input-group {

        margin-top: 10px;

        .label-input {
          font-size: 14px;
          font-weight: 600;
          color: var(--text-color);
          margin-bottom: 5px;
        }

        .purchase-input-wrap {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 10px;
          border: 1px solid #dedede;
          border-radius: 5px;
          position: relative;

          input {
            width: 100%;
            border: 0;
            outline: 0;
            background-color: transparent;
            color: var(--form-text-color);


            &::placeholder {
              color: var(--form-text-color);
              font-size: 16px;
            }
          }

          select {
            background-color: var(--primarybg);
            color: white;
            height: 35px;
            border: 0;
            min-width: 115px;
            border-radius: 5px;
            padding: 0 20px 0 5px;
            outline: none;
            font-size: 16px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            position: relative;
          }

          button.paste {
            height: 35px;
            min-width: 100px;
            border-radius: 5px;
            background-color: var(--secondary-color);
            border: none;
            transition: background-color ease-in-out 150ms;
            position: relative;
            display: block;
          }

        }

        .purchase-select {
          position: relative;

          &::after {
            content: ' ';
            position: absolute;
            right: 17px;
            top: 46%;
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            background-image: url('/assets/buy/chevron-down.svg');
          }
        }

      }

      .purchase-input-radio {
        margin: 5px 0;

        label {
          font-size: 14px !important;
          font-weight: 600 !important;
          color: var(--text-color) !important;
        }
      }

    }

    .info-btn {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: var(--alpha);
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      border: 0;
      text-transform: uppercase;
    }

    .terms-p {
      font-size: 13px;
      text-align: center;
      color: var(--text-color-secondary);
      font-style: italic;
      margin-bottom: 0;
      margin-top: 9px;
    }

    .crypto-card-footer {

      .buy-btn {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border: 0;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

    }

    .order-summary {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;

      .order-summary-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        padding: 0 5px 5px 5px;
        margin-bottom: 5px;
        width: 25%;
        text-align: center;
        position: relative;
        height: 100%;

        &:last-child {
          &::after {
            content: unset;

          }
        }

        &::after {
          content: ' ';
          position: absolute;
          right: 1px;
          top: 20px;
          height: 30px;
          width: 1px;
          background-color: var(--primarybg);
        }

        p {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
          color: var(--text-color);
        }

        span {
          font-size: 12px;
          color: var(--text-color-secondary);
          font-weight: 600;
        }
      }
    }

    .card-sub-heading {
      font-size: 20px;
      font-weight: 600;
      color: var(--text-color);
    }



    .payment-btn{
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      text-transform: uppercase;
    }

  }

}
