<div class="breadcrumb">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
  </span>
  <ul>
    <li><a href="">Home</a></li>
    <li><a class="active">Buy</a></li>
  </ul>
</div>

<div class="buy-content-wrap">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="buy-card shadow-sm">
          <div class="buy-card-header">
            <h3>Buy Coins</h3>
            <p>26 December 2024</p>
          </div>
          <div class="buy-card-body">
            <div class="step">
              <p class="buy-card-step">Step 1: Enter Amount</p>
              <div class="cuurency-input-group">
                <label class="label-input">Pay</label>
                <div class="purchase-input-wrap purchase-select">
                  <input type="Number" placeholder="Enter Amount">
                  <select name="" id="">
                    <option value="">MVR</option>
                    <option value="">BTC</option>
                    <option value="">ETH</option>
                  </select>
                </div>
              </div>
              <div class="cuurency-input-group">
                <label class="label-input">Receive</label>
                <div class="purchase-input-wrap purchase-select">
                  <input type="number" placeholder="239038.00">
                  <select name="" id="">
                    <option value="">BTC</option>
                    <option value="">MVR</option>
                    <option value="">ETH</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="step">
              <p class="buy-card-step">Step 2: Select the network</p>
              <div class="form-check purchase-input-radio">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Binance Smart Chain (BEP20)
                </label>
              </div>
            </div>
            <div class="step">
              <p class="buy-card-step">Step 3: Enter your Trust Wallet Receive Address.</p>
              <div class="cuurency-input-group">
                <div class="purchase-input-wrap">
                  <input type="text" placeholder="038490j834z3842x9830x09">
                  <button class="paste">Paste</button>
                </div>
              </div>
            </div>
            <div>
              <button class="info-btn">Press To Read The Infor Care Fully</button>
              <p class="terms-p">
                I agree that the address provided is from a wallet which I have the recovery phrase. I acknowledge that there is no way to change or recover the 12-word phrase if it’s lost or forgotten. If I lose my recovery phrase, <b>I will lose my funds with it for EVER</b>
              </p>
            </div>
            <div class="buy-card-footer">
              <button class="buy-btn">Go to Payments</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
